/* Definindo a largura mínima para o corpo da página */
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100%; /* Utiliza a largura total da tela */
    max-width: 1200px; /* Limita a largura máxima da página */
    box-sizing: border-box; /* Garante que padding e border não aumentem a largura total */
    overflow-x: hidden; /* Impede rolagem horizontal */
    height: 350vh; /* Ajuste da altura conforme necessário */
}

.logo {
  display: flex;
  justify-content: center;
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #5FCB69;
}

.subtitulo{
    font-size: 45px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #5FCB69;
}

.subsub{
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: black;
}

.no{
  margin: 0;
  padding: 0;
  color: #5FCB69;
}

.info{
  font-size: 20px;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.doar{
  width: 150px;
  height: 50px;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  border: 0px;
  border-radius: 12px;
  background-color: #E7E2E2;
}

.criar{
  color: white;
  width: 300px;
  height: 50px;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  background-color: #5FCB69;
  border-radius: 12px;
  border: 0px;
}

.img{
  width: 550px;
}

.quadrado {
  margin: 0 auto; /* Centraliza horizontalmente */
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; /* Opcional: centraliza verticalmente o conteúdo dentro do elemento */
  border-radius: 16px;
  background-color: #5FCB69;
  width: 1180px;
  height: 600px;
}

.conclusao{
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
}


@media (min-width: 1024px) and (max-width: 1920px) { /*para notebook*/
  .logo {
      position: relative;
      left: 12%;
  }
  .subtitulo {
      position: relative;
      top: 100px;
      left: 200px;
  }
  .info{
    position: relative;
    top: 100px;
    left: 200px;
  }

  .escritas{
    position: relative;
    top: -35px;
    left: -50px;
  }

  .img{
    position: absolute;
    top: 45px;
    left: 750px;
  }

  .doar{
    position: relative;
    left: 150px;
    top: 55px;
  }

  .criar{
    position: relative;
    top: 60px;
    left: 725px;
  }

  .quadrado{
    position: relative;
    top: 300px;
    left: -2px;
  }

  .form-group{
    position: relative;
    left: 20px;
    padding: 8px;
  }

  input::placeholder, 
  textarea::placeholder {
    position: relative;
    left: 5px;
}

.formulario{
  position: relative;
  left: 800px;
  top: 310px;
  border-radius: 16px;
  background-color: #E7E2E2;
  width: 380px;
  height: 780px;
  z-index: 2;
}

label {
  position: relative;
  left: 30px;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  display: block; /* Coloca o rótulo acima do campo */
  font-weight: bold;
  color: #555;
  width: 50px;
  padding: 4px;
}

input{
  position: relative;
  left: 30px;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  border-radius: 2px;
  width: 250px;
  height: 30px;
  border: 0;
}

.secao{
  position: absolute;
  left: 150px;
  top: 800px;
  background-color: #5FCB69;
  width: 1150px;
  height: 880px;
  border-radius: 16px;
}


.continuar{
  position: relative;
  left: 58px;
  top: 10px;
  color: white;
  border: 0px;
  background-color: #5FCB69;
  width: 252px;
  height: 35px;
}

.campanha{
  position: relative;
  top: 150px;
  left: 100px;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  color: white;
  font-size: 35px;
}

.add{
  position: relative;
  left: 150px;
  top: 247px;
  color: white;
  font-size: 13px;
  padding: 3px;
}

.certo{
  position: relative;
  left: 100px;
  top: 85px;
  height: 40px;
}

.certo1{
  position: relative;
  left: 55px;
  top: 195px;
  height: 40px;
}

.certo2{
  position: relative;
  left: 10px;
  top: 140px;
  height: 40px;
}

.conclusao{
  display: flex;
  justify-content: center;
  position: relative;
  left: 13%;
  top: 500px;
  font-size: 28px;
}

.bloco{
  position: absolute;
  left: 180px;
  top: 1921px;
  background-color: #5FCB69;
  height: 450px;
  width: 250px;
  border-radius: 16px;
}

.bloco2{
  position: absolute;
  left: 630px;
  top: 1921px;
  background-color: #5FCB69;
  height: 450px;
  width: 250px;
  border-radius: 16px;
}

.bloco3{
  position: absolute;
  left: 1080px;
  top: 1921px;
  background-color: #5FCB69;
  height: 450px;
  width: 250px;
  border-radius: 16px;
}

.blocos{
  position: absolute;
  top: 100px;
}

.imgdoacao{
  position: relative;
  top: 50px;
  left: 110px;
  height: 40px;
}

.textodobloco{
  text-align: center;
  color: white;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
  top: 50px;
}

.imgcaderneta{
  position: relative;
  top: 50px;
  left: 110px;
  height: 40px;
}

.textodobloco2{
  text-align: center;
  color: white;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
  top: 50px;
}

.imgseguranca{
  position: relative;
  top: 50px;
  left: 110px;
  height: 40px;
}

.textodobloco3{
  text-align: center;
  color: white;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
  top: 50px;
}

.infobloco{
  font-size: 15px;
  position: relative;
  top: 55px;
  color: white;
  text-align: center;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.infobloco2{
  font-size: 15px;
  position: relative;
  top: 55px;
  color: white;
  text-align: center;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.infobloco3{
  font-size: 15px;
  position: relative;
  top: 55px;
  color: white;
  text-align: center;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}
}

@media (min-width: 525px) and (max-width: 1024px) { /*para tablets*/

  body{
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimentos padrão */
    overflow-x: hidden;
  }

  .logo {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .subtitulo {
      position: relative;
      top: 50px;
      left: 150px;
      font-size: 35px;
  }

  .info{
    position: relative;
    top: 80px;
    left: 150px;
  }

  .img{
    width: 0px;
    height: 0px;
  }

  .doar{
    width: 450px;
    position: absolute;
    left: 150px;
    top: 520px;
  }

  .criar{
    width: 450px;
    position: absolute;
    top: 580px;
    left: 150px;
  }

  .form-group{
    position: relative;
    left: 20px;
    padding: 8px;
  }

  input::placeholder, 
  textarea::placeholder {
    position: relative;
    left: 5px;
}

.formulario{
  position: relative;
  left: 200px;
  top: 650px;
  border-radius: 16px;
  background-color: #E7E2E2;
  width: 380px;
  height: 780px;
  z-index: 2;
}

label {
  position: relative;
  left: 30px;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  display: block; /* Coloca o rótulo acima do campo */
  font-weight: bold;
  color: #555;
  width: 50px;
  padding: 4px;
}

input{
  position: relative;
  left: 30px;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  border-radius: 2px;
  width: 250px;
  height: 30px;
  border: 0;
}

.secao{
  position: absolute;
  left: 100px;
  top: 800px;
  background-color: #5FCB69;
  width: 600px;
  height: 1150px;
  border-radius: 16px;
}


.continuar{
  position: relative;
  left: 58px;
  top: 10px;
  color: white;
  border: 0px;
  background-color: #5FCB69;
  width: 252px;
  height: 35px;
}

.campanha{
  position: relative;
  top: 50px;
  left: 100px;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  color: white;
  font-size: 35px;
}

.add{
  font-size: 0px;
  padding: 0px;
}

.certo{
  height: 0px;
}

.certo1{
  height: 0px;
}

.certo2{
  height: 0px;
}

.conclusao{
  position: relative;
  top: 800px;
  left: 200px;
  font-size: 20;
}

.bloco{
  position: absolute;
  left: 100px;
  top: 2100px;
  background-color: #5FCB69;
  height: 450px;
  width: 250px;
  border-radius: 16px;
}

.bloco2{
  position: absolute;
  left: 450px;
  top: 2100px;
  background-color: #5FCB69;
  height: 450px;
  width: 250px;
  border-radius: 16px;
}

.bloco3{
  position: absolute;
  left: 270px;
  top: 2600px;
  background-color: #5FCB69;
  height: 450px;
  width: 250px;
  border-radius: 16px;
}

.blocos{
  position: absolute;
  top: 100px;
}

.imgdoacao{
  position: relative;
  top: 50px;
  left: 110px;
  height: 40px;
}

.textodobloco{
  text-align: center;
  color: white;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
  top: 50px;
}

.imgcaderneta{
  position: relative;
  top: 50px;
  left: 110px;
  height: 40px;
}

.textodobloco2{
  text-align: center;
  color: white;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
  top: 50px;
}

.imgseguranca{
  position: relative;
  top: 50px;
  left: 110px;
  height: 40px;
}

.textodobloco3{
  text-align: center;
  color: white;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
  top: 50px;
}

.infobloco{
  font-size: 15px;
  position: relative;
  top: 55px;
  color: white;
  text-align: center;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.infobloco2{
  font-size: 15px;
  position: relative;
  top: 55px;
  color: white;
  text-align: center;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.infobloco3{
  font-size: 15px;
  position: relative;
  top: 55px;
  color: white;
  text-align: center;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}
}

@media (min-width: 0px) and (max-width: 525px) { /*para celulares*/

  body{
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimentos padrão */
    overflow-x: hidden;
  }

  .logo {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .subtitulo {
      position: relative;
      top: 50px;
      left: 40px;
      font-size: 28px;
  }

  .info{
    font-size: 18px;
    justify-content: left;
    position: relative;
    top: 80px;
    left: 40px;
  }

  .img{
    width: 0px;
    height: 0px;
  }

  .doar{
    width: 400px;
    position: absolute;
    left: 40px;
    top: 470px;
  }

  .criar{
    width: 400px;
    position: absolute;
    top: 530px;
    left: 40px;
  }

  .form-group{
    position: relative;
    left: 10px;
    padding: 8px;
  }

  input::placeholder, 
  textarea::placeholder {
    position: relative;
    left: 5px;
}

.formulario{
  position: relative;
  left: 70px;
  top: 500px;
  border-radius: 16px;
  background-color: #E7E2E2;
  width: 350px;
  height: 780px;
  z-index: 2;
}

label {
  position: relative;
  left: 30px;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  display: block; /* Coloca o rótulo acima do campo */
  font-weight: bold;
  color: #555;
  width: 50px;
  padding: 4px;
}

input{
  position: relative;
  left: 30px;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  border-radius: 2px;
  width: 250px;
  height: 30px;
  border: 0;
}

.secao{
  position: absolute;
  left: 45px;
  top: 700px;
  background-color: #5FCB69;
  width: 400px;
  height: 1050px;
  border-radius: 16px;
}


.continuar{
  position: relative;
  left: 50px;
  top: 10px;
  color: white;
  border: 0px;
  background-color: #5FCB69;
  width: 252px;
  height: 35px;
}

.campanha{
  position: relative;
  top: 20px;
  left: 50px;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  color: white;
  font-size: 28px;
}

.add{
  font-size: 0px;
  padding: 0px;
}

.certo{
  height: 0px;
}

.certo1{
  height: 0px;
}

.certo2{
  height: 0px;
}

.conclusao{
  display: flex;
  justify-content: center;
  position: relative;
  top: 630px;
  font-size: 18px;
}

.bloco{
  position: absolute;
  left: 110px;
  top: 1850px;
  background-color: #5FCB69;
  height: 450px;
  width: 250px;
  border-radius: 16px;
}

.bloco2{
  position: absolute;
  left: 110px;
  top: 2350px;
  background-color: #5FCB69;
  height: 450px;
  width: 250px;
  border-radius: 16px;
}

.bloco3{
  position: absolute;
  left: 110px;
  top: 2860px;
  background-color: #5FCB69;
  height: 450px;
  width: 250px;
  border-radius: 16px;
}

.blocos{
  position: absolute;
  top: 100px;
}

.imgdoacao{
  position: relative;
  top: 50px;
  left: 110px;
  height: 40px;
}

.textodobloco{
  text-align: center;
  color: white;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
  top: 50px;
}

.imgcaderneta{
  position: relative;
  top: 50px;
  left: 110px;
  height: 40px;
}

.textodobloco2{
  text-align: center;
  color: white;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
  top: 50px;
}

.imgseguranca{
  position: relative;
  top: 50px;
  left: 110px;
  height: 40px;
}

.textodobloco3{
  text-align: center;
  color: white;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  position: relative;
  top: 50px;
}

.infobloco{
  font-size: 15px;
  position: relative;
  top: 55px;
  color: white;
  text-align: center;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.infobloco2{
  font-size: 15px;
  position: relative;
  top: 55px;
  color: white;
  text-align: center;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.infobloco3{
  font-size: 15px;
  position: relative;
  top: 55px;
  color: white;
  text-align: center;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}
}

@media (min-width: 1920px) and (max-width: 2000px){
  .img {
    display: flex;
    flex-direction: column; /* Organiza os itens em coluna */
    align-items: flex-start; /* Alinha os itens à esquerda */
    margin-left: 280px;
}

.criar {
    margin-top: 20px; /* Define a distância do topo */
    margin-left: 280px;
}

.doar {
  position: relative;
  left: 185px;
    margin-top: 10px; /* Define a distância do topo */
}

.secao{
  position: absolute;
  left: 190px;
  width: 1450px;
}

.formulario {
  width: 380px;             /* Largura desejada para o formulário */
  padding: 20px;            /* Adiciona um pouco de espaçamento interno */
  background-color: #E7E2E2;
  border-radius: 16px;      /* Bordas arredondadas */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombras para destacar o formulário */
  position: relative;
  top: 270px;
  left: 1100px;
}

.logo {
  position: relative;
  left: 25%;
}

.conclusao{
  position: relative;
  left: 25%;
}

.blocos{
  display: flex;
  justify-content: center;
  position: absolute;
  left: 7%;
}

.subtitulo{
  position: relative;
  left: 240px;
}

.info{
  position: relative;
  left: 240px;
}
}