:root {
    --collection-1-cor-branca: rgba(255, 255, 255, 1);
    --collection-1-cor-azul: rgba(32, 164, 243, 1);
    --collection-1-cor-vermelha: rgba(219, 84, 97, 1);
    --collection-1-cor-amarela: rgba(255, 191, 70, 1);
    --collection-1-primaria: rgba(74, 144, 226, 1);
    --collection-1-preto: rgba(87, 87, 97, 1);
    --collection-1-verde-2: rgba(126, 211, 33, 1);
    --collection-1-cinza-2: rgba(231, 226, 226, 1);
    --collection-1-roxo-2: rgba(155, 89, 182, 1);
    --collection-1-laranja-2: rgba(245, 166, 35, 1);
    --collection-1-branco-2: rgba(255, 255, 255, 1);
    --collection-1-nverde: rgba(95, 203, 105, 1);
  }
  