/* Figma Styles of your File */
:root {
    /* Colors */
    /* Fonts */
    --poppys-font-family: Poppins-SemiBold, sans-serif;
    --poppys-font-size: 16px;
    --poppys-line-height: normal;
    --poppys-font-weight: 600;
    --poppys-font-style: normal;
    --poppys2-font-family: Poppins-Regular, sans-serif;
    --poppys2-font-size: 14px;
    --poppys2-line-height: normal;
    --poppys2-font-weight: 400;
    --poppys2-font-style: normal;
  
    /* Effects */
  }
  