body{
  overflow-y: hidden;
}


.frame {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .div {
  background-color: #ffffff;
  width: 1920px;
  height: 1080px;
  position: relative;
}

.frame .overlap-group {
  position: absolute;
  width: 1448px;
  height: 902px;
  top: 110px;
  left: 242px;
}

.frame .criando-sua-campanha {
  position: absolute;
  width: 1149px;
  top: 222px;
  left: 0;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper {
  font-weight: 600;
  color: #575761;
}

.frame .span {
  font-family: "Righteous-Regular", Helvetica;
  color: #5fcb69;
}

.frame .frame-wrapper {
  display: flex;
  width: 463px;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 985px;
  height: 740px;
}

.frame .div-2 {
  display: flex;
  flex-direction: column;
  width: 426px;
  height: 882px;
  align-items: center;
  justify-content: center;
  gap: 22px;
  padding: 30px;
  position: relative;
  background-color: var(--collection-1-nverde);
  border-radius: 16px;
  
}

.frame .div-3 {
  display: flex;
  flex-direction: column;
  width: 336px;
  align-items: flex-start;
  gap: 28px;
  position: relative;
  flex: 0 0 auto;
}

.frame .div-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div-wrapper {
  display: flex;
  width: 336px;
  align-items: center;
  gap: 10px;
  padding: 8px 60px 8px 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 4px;
}

.frame .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #0000005e;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div-5 {
  display: flex;
  flex-direction: column;
  height: 66px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.frame .div-wrapper-2 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 60px 8px 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 4px;
}

.frame .inputs {
  display: flex;
  flex-direction: column;
  width: 340px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.frame .frame-wrapper-2 {
  display: flex;
  flex-direction: column;
  width: 340px;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.frame .div-6 {
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .frame-wrapper-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .div-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .frame-wrapper-4 {
  display: flex;
  flex-direction: column;
  width: 336px;
  height: 77px;
  align-items: flex-start;
  position: relative;
}

.frame .text-wrapper-5 {
  position: relative;
  width: 336px;
  margin-top: -1.00px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div-wrapper-3 {
  display: flex;
  width: 267px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  flex: 0 0 auto;
  background-color: #575761;
  border-radius: 4px;
  margin-top: 90px;
}

.frame .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .com-o-doe-it-voc {
  position: absolute;
  width: 743px;
  top: 409px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--collection-1-preto);
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-7 {
  color: #575761;
}

.frame .text-wrapper-8 {
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #575761;
}

.frame .text-wrapper-9 {
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #5fcb69;
}

.frame .text-wrapper-10 {
  position: absolute;
  top: 36px;
  left: 75px;
  font-family: "Righteous-Regular", Helvetica;
  font-weight: 400;
  color: var(--collection-1-nverde);
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.date {
  width: 300px;
}

#titulo.div-wrapper-2 {
  width: 300px;
}

#Descrição.div-wrapper-2 {
  width: 300px;
}

#estado.div-wrapper-2 {
  width: 300px;
}

#cidade.div-wrapper-2 {
  width: 300px;
}

#data.date {
  width: 300px;
}

#rua.div-wrapper-2 {
  width: 300px;
}

#cep.div-wrapper-2{
  width: 300px;
}

#numero.div-wrapper-2 {
  width: 300px;
}

#meta.div-wrapper-2 {
  width: 300px;
}

#arquivo.div-wrapper-2{
  width: 300px;
}